<%- include partials/header -%>

<h1>Home</h1>
<p><%=content1%></p>

<% for(let i=0;i<=composeText.length;i++){ %>
<% console.log(composeText[i]); %> 
    <%  } %>

    <%- include partials/footer -%>